.App {
  text-align: center;
}
.app_form{
  padding:20px;
  position:fixed;
  bottom:0;
  background-color:#e9e9eb;
  z-index:1;
  width: 90%;
  margin:20px;

}

.fb_logo{
  max-width:60%;
  
}

.form_control{
  display:flex !important;
  flex-direction:row !important;
}

.app_input{
  flex:1;
}
.app_button{
  flex:0;
}

@media (max-width: 576px) {
  .fb_logo{
    max-width:20%;
    object-fit:contain;
  }
 
 }
 @media (min-width: 576px) and (max-width: 767.98px) {
  .fb_logo{
    max-width:20%;
    object-fit:contain;
  }
}

